:root{
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Epilogue',sans-serif;
}

.nav{
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1200px;
}

.nav__burguer{
    width: 50px;
    height: 50%;
    background-image: url("../images/icon-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: turquoise;
    cursor: pointer;

    z-index: 100;
    transition: background-image .3s;
}
.nav__burguer--open{
    background-image: url("../images/icon-close-menu.svg");
}

.nav__overlay{
    background-color: #000000a9;
    inset: 0;
    position: fixed;

    opacity: 0;
    pointer-events: none;
    transition: .5s opacity;
}
.nav__overlay--view{
    opacity: 1;
    pointer-events: unset;
}

.nav__menu{
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: white;
    right: 0;
    width: 50%;
    max-width: 400px;
    padding: 0;
    list-style: none;
    overflow: auto;
    padding: 60px 10px;
}

.nav__item{
    width: 80%;
    margin: 0 auto;
    color: var(--Almost-Black);
    cursor: pointer;
    padding: 20px 0;
}
.nav__item:has(.nav__parent){
    padding: 0;
}
.nav__inner{
    list-style: none;
    padding: 0;
    width: 80%;
    margin: auto;
    display: grid;
    gap: 1.5em;
    overflow: hidden;
    height: 0px;
    transition: height .4s;
}
.nav__parent{
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 1.3em;
    padding: 20px 0;
}

.nav__link{
    text-decoration: none;
    color: var(--Almost-Black);
}

.nav__login{
    width: 90%;
    margin: auto;
    text-align: center;
}
.nav__login--border{
    border: 1px solid var(--Medium-Gray);
    border-radius: 100%;
    margin-top: 10px;
}

.nav__sign{
    display: inline-block;
    color:var(--Medium-Gray);
    padding: 1em 0;
    text-decoration: none;
}